#app {
  display: grid;
  height: 300px;
  width: 500px;
  grid-template-columns: repeat(7,1fr);
  grid-template-rows: repeat(3,1fr);
}

#header {
  background-color: #9BCE1D;
  grid-column: 1/8;
}

#article-1 {
  background-color: lightcoral;
  grid-column:2/6 ;
}

#nav {
  background-color: cornflowerblue;
  grid-column:1/2 ;
}

#ad-area {
  background-color: cornflowerblue;
  grid-column:6/8 ;
}

#footer {
  background-color: #9BCE1D;
  grid-column: 1/8;
}
